html,
body {
  background-color: $backgroundColor;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.footerIcon {
  color: black;
  margin: 10px;
}

.sectionLabel {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}
// -webkit-transform: skewY(-7deg);
// -ms-transform: skewY(-7deg);
// transform: skewY(-7deg);
// -webkit-transform-origin: 100%;
// -ms-transform-origin: 100%;
// transform-origin: 100%;
