html,
body {
  background-color: $backgroundColor;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.footerIcon {
  color: black;
  margin: 10px;
}

.sectionLabel {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
}
