.pageHeader {
  font-family: $fontStackTitles;
  font-size: 3em; //3.5vw?
  text-align: center;
  margin: 60px 0 40px 0;
  color: $titleColor;
}

.paragraphText {
  font-size: large;
  text-align: center;
  font-family: $fontStackParagraphs;
  margin: 0 20vw 0 20vw;
}

.sidebarText {
  display: inline-block;
  font-size: large;
  font-family: $fontStackParagraphs;
  color: $fontColorLight;
  text-decoration: none;
}
.sidebarText:hover {
  text-decoration: none;
}

.sheetText {
  font-family: $fontStackParagraphs;
  font-size: 35px;
  color: $titleColor;
}

.sheetTextSmall {
  font-family: $fontStackParagraphs;
  font-size: 23px;
  color: $titleColor;
}

.largeNumber {
  display: inline-block;
  font-family: $fontStackTitles;
  color: $colorDarkGrey;
  font-size: 3em;
  margin-top: 20px;
  margin-left: 15px;
}
