html,
body {
  background-color: #f0eef5;
  margin: 0;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.footerIcon {
  color: black;
  margin: 10px;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    flex-direction: row;
    flex: 1;
    height: 100%;
  }

  .content {
    margin-left: 300px;
    flex: 1;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.pageHeader {
  font-family: "Cabin", "Open Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 60px 0 40px 0;
  color: #252830;
}

.paragraphText {
  font-size: large;
  text-align: center;
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
  margin: 0 20vw 0 20vw;
}

.sidebarText {
  display: inline-block;
  font-size: large;
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
  color: #f7f7ed;
  text-decoration: none;
}

.sidebarText:hover {
  text-decoration: none;
}

.sheetText {
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
  font-size: 35px;
  color: #252830;
}

.sheetTextSmall {
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
  font-size: 23px;
  color: #252830;
}

.largeNumber {
  display: inline-block;
  font-family: "Cabin", "Open Sans", sans-serif;
  color: #252830;
  font-size: 3em;
  margin-top: 20px;
  margin-left: 15px;
}

.button.large {
  background-color: #51425e;
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
  height: 50px;
  width: 165px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  margin: 30px 0 10px 0;
  transition: 0.3s;
  cursor: pointer;
}

.button.large:hover {
  background-color: #252830;
}

.purpleMobileButton {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: url("../Images/Buttons/Mobile Button Purple.svg");
  background-size: contain;
  cursor: pointer;
}

.purpleMobileButton:active {
  background: url("../Images/Buttons/Mobile Button Dark Grey.svg");
}

@media (min-width: 768px) {
  .mobileButton {
    position: fixed;
    background: none;
    border: none;
  }
}
@media (max-width: 768px) {
  .mobileButton {
    visibility: hidden;
    background: none;
    border: none;
    margin: 25px;
  }
}
.plusButton {
  background-color: #f0eef5;
  display: block;
  border: 0px;
  width: 21px;
  height: 21px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.plusButton:after {
  background-color: #483b53;
  width: 21px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 0px;
  content: "";
  transition: 0.3s;
}

.plusButton:before {
  background-color: #483b53;
  width: 5px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: "";
  transition: 0.3s;
}

.plusButton:hover:after {
  background-color: #51425e;
}

.plusButton:hover:before {
  background-color: #51425e;
}

.minusButton {
  background-color: #f0eef5;
  display: block;
  border: 0px;
  width: 21px;
  height: 21px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.minusButton:after {
  background-color: #483b53;
  width: 21px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 0px;
  content: "";
  transition: 0.3s;
}

.minusButton:hover:after {
  background-color: #51425e;
}

@media (min-width: 768px) {
  .sideBar {
    width: 300px;
    position: fixed;
    overflow-x: hidden;
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  .sideBar .sideBarLogoSection {
    padding: 5px;
  }

  .mobileButton {
    visibility: hidden;
    background: none;
    border: none;
  }
}
@media (max-width: 768px) {
  .sideBar {
    width: 200px;
  }

  .mobileButton {
    position: fixed;
    background: none;
    border: none;
  }

  .sideBarLogoSection {
    padding: 20px;
  }
  .sideBarLogoSection .cSheetLogo {
    width: 120px;
  }

  .characterSheetIcon {
    display: block;
    height: 62px;
    width: 50px;
    margin: auto;
  }

  .partyIcon {
    display: block;
    height: 62px;
    width: 50px;
    margin: auto;
  }
}
.sideBar {
  height: 100%;
  margin: 0;
  position: fixed;
  background: none repeat scroll 0 0 #51425e;
  text-align: left;
}
.sideBar .sideBarLogoSection {
  background-color: #483b53;
  width: 300px;
  height: 50px;
}
.sideBar .sideBarLogoSection .cSheetLogo {
  background: url("../Images/CSheet Logos/CSheet Logo Green Black.svg");
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: auto;
  margin-left: 40px;
  cursor: pointer;
}
.sideBar .divider {
  height: 1px;
  width: 95%;
  background: #656565;
}
.sideBar ul li.navigationIcon {
  height: 90px;
  width: 300px;
  transition: 0.3s;
  cursor: pointer;
}
.sideBar ul li.navigationIcon .characterSheetIcon {
  background: url("../Images/CSheet Icons/CSheet Icon Green.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  max-height: 25px;
  max-width: 25px;
  position: relative;
  vertical-align: middle;
  height: 80px;
  width: 80px;
}
.sideBar ul li.navigationIcon .partyIcon {
  background: url("../Images/Navigation/Party Icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  max-height: 45px;
  max-width: 45px;
  position: relative;
  vertical-align: middle;
  height: 80px;
  width: 80px;
}
.sideBar ul li.navigationIcon .CSheetIcon {
  background: url("../Images/CSheet Icons/CSheet Icon Green.svg");
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  max-height: 25px;
  max-width: 25px;
  position: relative;
  vertical-align: middle;
  height: 80px;
  width: 80px;
}
.sideBar ul li.navigationIcon .active {
  background-color: #f0eef5;
  border-radius: 4px;
}
.sideBar ul li.navigationIcon:hover {
  background-color: #392e42;
}

.titleBar {
  width: 100%;
  height: 60px;
  top: 0;
  position: fixed;
  background-color: #ffffff;
  font-family: "Cabin", "Calibri", "Open Sans", sans-serif;
}
.titleBar .name {
  float: right;
  margin: 20px 40px;
}

.tiles-section {
  width: 100%;
  text-align: center;
}

.sectionLabel {
  display: flex;
  height: 45px;
  width: 270px;
}

.verticalAttributeTiles {
  height: 530px;
  width: 270px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills {
  height: 530px;
  width: 270px;
  display: inline-block;
  margin-left: 10px;
  overflow-y: auto;
}
.skills .skillTile {
  height: 42px;
  width: 100%;
}
.skills .skillTile .skillText {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.roundedTile {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.attribute-tiles {
  width: 100%;
  text-align: center;
}

.padlock {
  background: url("../Images/Icons/Locked Padlock.svg");
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  display: block;
  margin-left: 100px;
}

.baseDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 60px;
  width: 100%;
  height: 150px;
  margin-left: 90px;
}
.baseDetails .characterName {
  width: 550px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
}
.baseDetails .level {
  width: 200px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
}

.sectionLabels {
  display: flex;
  width: 100%;
  margin-left: 100px;
  margin-bottom: 7px;
}

.firstSection {
  display: flex;
}

.attribute {
  display: inline-block;
  background-color: #f0eef5;
  text-align: center;
  height: 160px;
  width: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin: 5px 10px;
  position: relative;
}
.attribute .attributeNumberSection {
  margin: 0 auto;
  height: 70%;
}
.attribute .attributeNumberSection .points {
  display: inline-block;
  font-family: "Cabin", "Open Sans", sans-serif;
  color: #252830;
  font-size: 3em;
  margin-top: 20px;
  margin-left: 15px;
}
.attribute .attributeNumberSection .attributeButtons {
  vertical-align: center;
  margin-left: 10px;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}
.attribute .attributeName {
  display: inline-block;
  font-family: "Cabin", "Open Sans", sans-serif;
  width: 100%;
  height: 30%;
  font-size: 2em;
  text-align: center;
  margin: 0;
  color: #51425e;
}

.tile {
  display: inline-block;
  background-color: #f0eef5;
  text-align: center;
  height: 225px;
  width: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px;
  transition: 0.3s;
}
.tile .tile-image {
  opacity: 0.75;
}
.tile .tile-text {
  font-family: "Cabin", "Open Sans", sans-serif;
  font-size: 1.8em;
  color: #51425e;
  padding: 30px;
  text-align: center;
}

.tile:hover {
  background-color: #bbbbbb;
}

/*# sourceMappingURL=main.css.map */
