$small-screen: 320px;
$large-screen: 1200px;
$breakpoint: 768px;

// $cSheetLogoDark: "../Images/CSheet Logos/CSheet Logo Green Black.svg";
// $cSheetLogoLight: "../Images/CSheet Logos/CSheet Logo Green White.svg";

$cSheetLogo: "../Images/CSheet Logos/CSheet Logo Green Black.svg";

$characterSheetIcon: "../Images/Navigation/Character Sheet Black.svg";
$partyIcon: "../Images/Navigation/Party Icon.svg";

$mobileButton: "../Images/Buttons/Mobile Button Purple.svg";
$mobileButtonHighlight: "../Images/Buttons/Mobile Button Dark Grey.svg";

$colorPurple: #40294b;
$colorGreen: #4f5f55;
$colorBlue: #6a89a8;
$colorWhite: #ffffff;
$colorOffWhite: #f7f7ed;
$colorBlack: #000000;
$colorDarkGrey: #252830;
$colorMediumGrey: #656565;
$colorLightGrey: #bbbbbb;

$primaryColor: $colorPurple;
$secondaryColor: $colorGreen;
$backgroundColor: $colorWhite;
$highlightColor: $colorLightGrey;
$sidebarColor: $colorOffWhite;
$textColor: $colorDarkGrey;
$titleColor: $colorDarkGrey;
// $contrastColor: ;

$fontStackTitles: "Carter One", "Open Sans", sans-serif;
$fontStackParagraphs: "Cabin", "Calibri", "Open Sans", sans-serif;
