$font-stack: "Carter One", "Open Sans", sans-serif;
$paragraphFonts: "Cabin", "Calibri", "Open Sans", sans-serif;
$colorPurple: #2f195f;
// $cSheet-secondary-purple: #333;
$colorTurquoise: #4ecdc4;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorMediumGrey: #656565;
$colorLightGrey: #bbbbbb;

$cSheetLogo: "../Images/CSheet Logo Grey White.svg";
$purpleCircleButton: "../Images/Purple Mobile Button.svg";
$blueCircleButton: "../Images/Blue Mobile Button.svg";
$characterSheetIcon: "../Images/cSheet Icon.svg";

$small-screen: 320px;
$large-screen: 1200px;

.pageHeader {
  font-family: $font-stack;
  font-size: 3em; //3.5vw?
  text-align: center;
  margin: 60px 0 40px 0;
  color: rgb(20, 20, 20);
}

.paragraphText {
  font-size: large;
  text-align: center;
  font-family: $paragraphFonts;
  margin: 0 20vw 0 20vw;
}

.CSheet,
.body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

//Desktop and large screens
@media (min-width: 768px) {
  .body {
    margin: 0;
    flex-direction: row;
    flex: 1;
    height: 100%;
  }
  .content {
    margin-left: 200px;
    flex: 1;
  }
  .sideBar {
    min-width: 200px;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  .mobileButton {
    visibility: hidden;
    background: none;
    border: none;
    margin: 25px;
  }
}

//Mobile and small screens
@media (max-width: 768px) {
  .sideBar {
    // visibility: collapse;
  }
  .mobileButton {
    // visibility: visible;
    position: fixed;
    background: none;
    border: none;
  }
  .paragraphText {
    margin: 0 5vw 0 5vw;
  }
}

.sideBar {
  height: 100%;
  margin: 0;
  // -webkit-flex: 1;
  // flex: 1;
  background: none repeat scroll 0 0 $colorBlack;
  color: $colorWhite;
  width: 100px;
  // z-index: 1;

  .cSheetLogo {
    background: url($cSheetLogo);
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    cursor: pointer;
  }

  .divider {
    height: 1px;
    width: 95%;
    background: $colorMediumGrey;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      display: block;

      padding: 0;
      margin-top: 20px;
      list-style-type: none;

      .characterSheetIcon {
        background: url($characterSheetIcon);
        background-repeat: no-repeat;
        display: block;
        height: 125px;
        width: 100px;
        margin: auto;
        cursor: pointer;
      }

      a.expandable {
        outline: 0;
        color: white;
        text-decoration: none;
        font-size: 80px;

        span.expanded-element {
          color: $colorWhite;
          margin-left: 12px;
          font-size: 16px;
          position: relative;
          bottom: 2px;
        }
      }
      a.expandable:hover {
        color: $colorLightGrey;
      }
      .active {
        background: none repeat scroll 0 0 black;
        border-radius: 4px;
        text-align: center;
        margin-left: -4px;
        padding: 4px;
        a.expandable {
          color: $colorWhite !important;
        }
        a.expandable:hover {
          color: $colorLightGrey !important;
        }
      }
    }
  }
}

.tiles-section {
  width: 100%;
  text-align: center;

  .tile {
    display: inline-block;
    // margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* -webkit-box-shadow: 1px 3px 1px #9e9e9e; */
    padding: 20px;
    margin: 20px;
    .tile-text {
      font-family: $font-stack;
      font-size: 2em;
      color: $colorPurple;
      /* position: absolute; */
      top: 50%;
      left: 50%;
      /* transform: translate(-50%, -50%); */
    }
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.button.large {
  background-color: $colorPurple;
  font-family: $paragraphFonts;

  height: 50px;
  width: 165px;
  color: $colorWhite;
  border: none;
  font-size: 16px;
  margin: 30px 0 10px 0;
}

.button.large:hover {
  background-color: #123379;
}

.purpleMobileButton {
  display: block;
  height: 50px;
  width: 50px;

  border-radius: 25px;
  background: url($purpleCircleButton);
  background-size: contain;
  cursor: pointer;
}

.purpleMobileButton:active {
  background: url($blueCircleButton);
}

// .characterSheetIcon:hover {
// }

.footerIcon {
  color: black;
  margin: 10px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
