.attribute {
  display: inline-block;
  background-color: $backgroundColor;
  text-align: center;
  width: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // padding: 20px;
  margin: 20px;
  position: relative;

  // }

  .attributeNumberSection {
    margin: 0 auto;
    height: 70%;

    .points {
      display: inline-block;
      font-family: $fontStackTitles;
      color: $colorDarkGrey;
      font-size: 3em;
      // vertical-align: center;
      // width: auto;
      margin-top: 20px;
      margin-left: 15px;
      // padding: 0;
    }
    .attributeButtons {
      // display: inline-block;
      vertical-align: center;
      margin-left: 10px;
      // width: auto;
      // width: 30%;
      // height: 100%;
      float: right;
      // right: 0px;
      margin-top: 30px;
      margin-right: 10px;
    }
  }
  .attributeName {
    display: inline-block;
    font-family: $fontStackTitles;
    width: 100%;
    height: 30%;
    font-size: 2em;
    text-align: center;
    margin: 0;
    color: $primaryColor;
  }
}
