.tile {
  display: inline-block;
  background-color: $backgroundColor;
  text-align: center;
  height: 200px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px;
  transition: 0.3s;
  .tile-image {
    opacity: 0.75;
  }
  .tile-text {
    font-family: $font-stack;
    font-size: 2em;
    color: $primaryColor;
    padding: 30px;
  }
}
.tile:hover {
  background-color: $highlightColor;
}
