.button.large {
  background-color: $primaryColor;
  font-family: $fontStackParagraphs;

  height: 50px;
  width: 165px;
  color: $colorWhite;
  border: none;
  font-size: 16px;
  margin: 30px 0 10px 0;
  transition: 0.3s;
  cursor: pointer;
}

.button.large:hover {
  background-color: $colorDarkGrey;
}

.purpleMobileButton {
  display: block;
  height: 50px;
  width: 50px;

  border-radius: 25px;
  background: url($mobileButton);
  background-size: contain;
  cursor: pointer;
}

.purpleMobileButton:active {
  background: url($mobileButtonHighlight);
}
@media (min-width: $breakpoint) {
  .mobileButton {
    // visibility: visible;
    position: fixed;
    background: none;
    border: none;
  }
}
@media (max-width: $breakpoint) {
  .mobileButton {
    visibility: hidden;
    background: none;
    border: none;
    margin: 25px;
  }
}

.plusButton {
  background-color: $backgroundColor;
  display: block;
  border: 0px;
  width: 21px;
  height: 21px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

//Horozontal Line
.plusButton:after {
  background-color: $secondaryColor;
  width: 21px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 0px;
  content: "";
  transition: 0.3s;
}

//Vertical Line
.plusButton:before {
  background-color: $secondaryColor;
  width: 5px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: 8px;
  content: "";
  transition: 0.3s;
}
.plusButton:hover:after {
  background-color: $primaryColor;
}
.plusButton:hover:before {
  background-color: $primaryColor;
}
.minusButton {
  background-color: $backgroundColor;
  display: block;
  border: 0px;
  width: 21px;
  height: 21px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
//Horozontal Line
.minusButton:after {
  background-color: $secondaryColor;
  width: 21px;
  height: 5px;
  position: absolute;
  top: 8px;
  left: 0px;
  content: "";
  transition: 0.3s;
}
.minusButton:hover:after {
  background-color: $primaryColor;
}
