//Desktop and large screens
@media (min-width: $breakpoint) {
  .sideBar {
    min-width: 200px;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    .sideBarLogoSection {
      // background-color: $colorLightGrey;
      padding: 20px;
    }
  }
  .mobileButton {
    visibility: hidden;
    background: none;
    border: none;
    margin: 25px;
  }
}

//Mobile and small screens
@media (max-width: $breakpoint) {
  .sideBar {
    width: 200px;
  }
  .mobileButton {
    // visibility: visible;
    position: fixed;
    background: none;
    border: none;
  }
  .sideBarLogoSection {
    // background-color: $sidebarColor;
    padding: 20px;
    .cSheetLogo {
      width: 120px;
    }
  }
  .characterSheetIcon {
    display: block;
    height: 62px;
    width: 50px;
    margin: auto;
  }
  .partyIcon {
    display: block;
    height: 62px;
    width: 50px;
    margin: auto;
  }
}

.sideBar {
  height: 100%;
  margin: 0;
  background: none repeat scroll 0 0 $sidebarColor;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  .cSheetLogo {
    background: url($cSheetLogo);
    background-repeat: no-repeat;
    display: block;
    width: 180px;
    height: auto;
    cursor: pointer;
  }

  .divider {
    height: 1px;
    width: 95%;
    background: $colorMediumGrey;
  }

  ul {
    li.navigationIcon {
      // padding-top: 30px;
      // padding-bottom: 30px;
      // display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      width: 225px;
      // position: relative;
      transition: 0.3s;
      cursor: pointer;

      .characterSheetIcon {
        background: url($characterSheetIcon);
        display: inline-block;
        background-repeat: no-repeat;
        margin-left: 10px;
        margin-top: auto;
        margin-bottom: auto;
        // max-height: 70%;
        // max-width: 30%;
        height: 65px;
        width: 50px;
        // flex: 33.33%;
        position: relative;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
      }

      .partyIcon {
        background: url($partyIcon);
        background-repeat: no-repeat;
        // margin: auto;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        max-height: 54%;
        max-width: 70%;
        position: relative;
        height: 80px;
        width: 80px;
      }

      .active {
        background-color: $backgroundColor;
        border-radius: 4px;
      }
    }
    li.navigationIcon:hover {
      background-color: $backgroundColor;
    }
  }
}
