.tiles-section {
    width: 100%;
    text-align: center;
  }

  .verticalAttributeTiles {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .attribute-tiles {
    width: 100%;
    text-align: center;
  }