.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.StartPage {
  text-align: center;
}

.largeHeader {
  font-size: 1.5em;
}

.tiles.section {
  padding: 20px;
  /* color: white; */
}

.chooseRace {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.tile {
  flex-wrap: wrap;
  height: 200px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* -webkit-box-shadow: 1px 3px 1px #9e9e9e; */
  padding: 20px;
}

.readMore {
  color: blue;
  font-size: 13px;
  text-decoration: underline;
}

.button-large {
  background-color: #6d1279;
  height: 50px;
  width: 165px;
  color: #ffffff;
  border: none;
  font-family: calibri, sans-serif;
  font-size: 16px;
}

.button-large:hover {
  background-color: #123379;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
